body {
	display: flex;
	justify-content: wrap;
}

.center {
	text-align: center;
}

.homepage {
	height: 25%;
	width: 50%;
}

.conatiner {
	display: flex;
}

.email {
	height: 5vh;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 10%;
	width: 10%;
}

.left {
	left: 0;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	bottom: 0;
	left: 0;
	right: 0;
}

.column {
	flex-direction: column;
}

.review {
	border-radius: 70%;
	width: 50%;
	height: 50%;
}

.row {
	display: flex;
	justify-content: center;
}

.iconRow {
	display: flex;
	justify-content: space-evenly;
}

.shopping {
	height: 40vh;
	width: 20vw;
}

.card {
}

.card img {
	height: 300px;
	width: 300px;
	border: 1px solid black;
}

.icon img {
	height: 150px;
	width: 150px;
}

.visa {
	height: 5vh;
	width: 10vw;
}

.green {
	color: green;
	font-size: 20px;
}

s {
	color: red;
	font-size: 18px;
}

.wallpaper {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid black;
}

.wallpaper p {
	background-color: skyblue;
	height: 100%;
}

.wallpaper button {
	color: white;
	position: absolute;
	background-color: black;
	font-size: 25px;
	border-radius: 15px;
	width: 10%;
	left: 58%;
}

.desc h2 {
	font-size: 60px;
}

.desc {
	color: white;
	height: 100%;
	width: 100%;
	background-color: skyblue;
}
